<p>Post Title: <%= @post.name %></p>

<p>Content: <%= @post.content %></p>

<form method="post" action="/posts/<%=@post.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="DELETE">
<form>

<form method="post" action="/posts/<%=@post.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <input type="submit" value="EDIT">
<form>
